

body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;; font-size: 20px;color:#6e125e;background: #e0dcef;letter-spacing:2px;border-color: #1a4688;font-weight:50px;-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
-moz-transition:all .2s linear,1s;
-o-transition:all .2s linear,1s;
-ms-transition:all .2s linear,1s;
-transition:all .2s linear,1s;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.overlay {
width:100%;
height:100%;
position:absolute;
z-index:3;
background-color:#0dcaf000;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.slides-navigation {
z-index:8;
}

.slides-navigation .next,
.slides-navigation .prev {
width:50px;
height:50px;
background-size:cover;
background-repeat:no-repeat;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.slides-navigation a.prev {
left:6px;
background-image:url(../img/icons/cancer.png);
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.slides-navigation a.next {
right:6px;
background-image:url(../img/icons/cancer.png);
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.titleMessage {position:absolute;color: #f513cf; width:100%;height:350px;top:50px;z-index:5;text-align:center;margin-top: -20px;-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;}

.titleMessage .heading p {
    text-shadow: 2px -9px 7px rgb(4 4 34);
    font-weight: 100px;
    letter-spacing: 5px;
    margin-top: 60px;
    -webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;

}

.titleMessage .heading .main {
font-size:80px;
color: #ce61bb
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.titleMessage . heading .sub {
font-size:60px;
color: white;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

#about h4 {
font-size: small;
font-weight:bolder;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

#row #navbar-IG {
	color:#7fffd4;
	font-size: 10px;
	color: #ce61bb;
	-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

#row #navbar-IG:hover {
	font-size: 20px;
	color:#7fffd4;
	-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.section {
color: #6a5dd4;
padding:100px 10px;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.aboutImage {
text-align:justify;
width:80%;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}


.contactSection {
background-color:#0c96ab5e;
border-color:#7fffd4;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}


#contact h2 {
font-weight:bolder;
font-style:italic;
-webkit-transition:all .2s linear,1s;
-moz-transition:all .2s linear,1s;
-o-transition:all .2s linear,1s;
-ms-transition:all .2s linear,1s;
-transition:all .2s linear,1s;
}

.contactButton:hover {
color:#7fffd4;
-webkit-transition:all .2s linear,1s;
-moz-transition:all .2s linear,1s;
-o-transition:all .2s linear,1s;
-ms-transition:all .2s linear,1s;
-transition:all .2s linear,1s;
}



.section .heading {
text-align:center;
padding-bottom:10px;
width:100%;
}

.items li {
display:inline-block;
padding:5px;
}

.itemsContainer {
width:100%;
}
.items li img {
width:100%;
-webkit-transition:all .2s linear,1s;
-moz-transition:all .2s linear,1s;
-o-transition:all .2s linear,1s;
-ms-transition:all .2s linear,1s;
-transition:all .2s linear,1s;
}

.items .item {
position:relative;
display:block;
overflow:hidden;
}
.items .icons {
position:absolute;
width:90px;
height:40px;
left:50%;
top:50%;
margin:-20px auto 0 -47px;
text-align:center;
z-index:3;
}

.items .icons i {
color:#000;
font-size:20px;
margin-top:9px;
}

.items .icons a {
width:40px;
height:40px;
background-color:#0c96ab5e;
position:relative;
display:inline-block;
border-color:#7fffd4;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.logoSection {
bottom:1px;
width:100%;
list-style:none;margin:0;padding:0;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

#logoDesign .logo {
width:20%;
height:20%;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.copyrightSection {background-color: #5477a9;color:#fff;padding:30px 5px;}
.copyrightSection p {
font-size: 15px;
margin:0;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

#navigation {background-color: #cbdcf5;padding:20px 10px;z-index:100;width:100%;}
#navigation li {
padding: 20px 10px;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

#navigation li a {
color:#9b0e9d;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}


.navbar-brand {
font-size: 10px;
color:#9b0e9d;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.navbar-brand,
.navbar-brand:hover {
color: #9b0e9d;
font-size: 10px;
font-weight:bolder;
font-style:italic;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.navbar-toggler-icon {
background:url(../img/icons/menu.png);
background-size:100%;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.fixedNav #navigation {
position:fixed;top:0;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.loader {
width:100%;
height:100%;
background-color:#fff;
position:fixed;top:0;
left:0;z-index:1000;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}

.loader .inner {
width:100%;
height:100%;
-webkit-transition:all .2s linear,.5s;
-moz-transition:all .2s linear,.5s;
-o-transition:all .2s linear,.5s;
-ms-transition:all .2s linear,.5s;
-transition:all .2s linear,.5s;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .nav-item {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .nav-item, .nav-link, .nav-item active {
    width: 100%;
  }
}

